* {box-sizing: border-box;}
body {
    font-family:'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-style: normal;
}
#grid {
    /*border: 5px solid pink;나중에 색깔 지우기*/
    display: grid;
    grid-template-columns: 200px 1fr;
}
hgroup {
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    border: 7px double rgb(232,50,0);
    background-color: rgb(249,244,46);
}
#content, aside {
    border: 3px rgb(232,50,0) solid;
    padding-bottom: 40px;
}
aside {
    border-right: 5px rgb(232,50,0) double;
}
#menu.index {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
}
#menu {list-style-type: none;}
.menu_list {
    text-align: center;
    width: 100%;
    height: 45px;
    padding: 0;
    text-decoration: none;
    color: gray;
}
.main_title {
    text-align: center;
    font-size: 3rem;
    color: rgb(232,50,0);
    font-family: 'Nanum Gothic', cursive;
    font-weight: lighter;
}
.user_info {
    text-align: right;
    color: black;
    line-height: 1.5;
}
.user_text { padding-bottom: 5px; }
.logout_click, .search_btn {
    margin-top: 5px;
    border: 2px outset rgb(232,50,0);
    color: black;
    background-color: white;
}
.logout_click {
    text-decoration: none;
    padding: 0px 4px 3px 4px;
}
.search_btn {
    margin-bottom: 10px;
    float: right;
    font-size: 1.3rem;
    border: 3px outset rgb(232,50,0);
}
#content {
    padding-top: 15px;
    padding-left: 55px;
    padding-right: 50px;
}
#now_title {
    color: rgb(232,50,0);
}
.table_title {
    margin-bottom: 10px;
    padding-right: 15px;
    text-align: right;
}
table.my_stock_table {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
}
table.my_stock_table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 3px solid #c00;
}
table.my_stock_table tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}
table.my_stock_table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
tr: hover {  background-color: #efefef; }
.stock_btns {
    border-radius: 50%;
    background-color: white;
    color: #c00;
    weight: bold;
    border: 1px solid #c00;
    margin-right: 2px;
}

.table_font{
    font-size: 8px;
}